{% for error in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endfor %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
