{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body_header %}Team{% endblock %}

{% block body_toolbar %}<a href="{{ path('app_team_index') }}" class="btn btn-primary">Back to list</a>{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ team.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ team.name }}</td>
        </tr>
        <tr>
            <th>Members</th>
            <td>
                <table class="table">
                {% for member in team.member %}
                    <tr>
                        <td>{{ member.email }}</td>
                        <td>{{ team.leader.id != member.id ? include('team/_remove_member_form.html.twig', {user_id: member.id}) : '' }}</td>
                    </tr>
                {% endfor %}
                </table>
                {{ include('team/_add_member_form.html.twig') }}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
